/*===== 768 =====*/
@media(min-width:481px) {}

@media(min-width:768px) {}

/*===== 768 =====*/

/*===== 992 =====*/
@media(min-width:992px) {
  .why-choose-wrap .choose-list {
    max-width: 400px;
  }

  .why-choose-wrap .choose-list.left {
    margin-right: auto;
    text-align: left;
  }

  .why-choose-wrap .choose-list.right {
    margin-left: auto;
    text-align: right;
  }
}

/*===== 992 =====*/
/*===== 1025 =====*/
@media(min-width:1025px) {}

/*===== 1025 =====*/
/*===== 1281 =====*/
@media(min-width:1281px) {}

/*===== 1281 =====*/

/*===== 1280 =====*/
@media(max-width:1680px) {}

@media(max-width:1580px) {
  .about-wrap .about-img {
    margin-right: -36px;
    margin-left: -36px;
  }

  .why-choose-wrap .img-box {
    margin: 0 -70px;
  }
}

@media(max-width:1280px) {
  .gallery>.item>ul>li .img-cover {
    padding-bottom: 500px;
  }

  .gallery>.item>ul>li>ul li .img-cover {
    padding-bottom: 250px;
  }
}

/*===== 1280 =====*/
/*===== 1024 =====*/
@media(max-width:1024px) {}

/*===== 1024 =====*/

/*===== 991 =====*/
@media(max-width:991px) {
  .about-wrap .about-img {
    margin: 0;
    width: 100%;
  }

  .about-wrap .about-img>img {
    width: 100%;
  }

  .service-wrap .title-btn-wrap {
    flex-direction: column;
    row-gap: 20px;
    align-items: initial;
  }

  .choose-box {
    text-align: center;
  }

  .why-choose-wrap .img-box {
    margin: 0;
  }

  .why-choose-wrap .img-box img {
    width: 100%;
  }

  .our-facilities-wrap .facilities {
    max-width: 50%;
  }

  .contact-wrap .contact-info ul {
    margin: -30px 0;
  }

  .contact-wrap .contact-info ul li {
    padding: 30px 0;
  }

  footer .menu-row {
    max-width: 100%;
    margin: 0 -15px;
  }

  .mission-wrap .mission-box {
    margin-top: 90px;
  }

  .mission-wrap .mission-box .icon-box {
    top: -90px;
    max-width: 180px;
    margin-bottom: -90px;
  }

  .gallery>.item>ul>li .img-cover {
    padding-bottom: 300px;
  }

  .gallery>.item>ul>li>ul li .img-cover {
    padding-bottom: 150px;
  }

  .product .product-content .list ul li {
    width: 50%;
  }
}

/*===== 991 =====*/
/*===== 767 =====*/
@media(max-width:767px) {
  .btn {
    padding: 16px 26px;
  }

  .our-facilities-wrap .facilities {
    max-width: 100%;
  }

  .contact-wrap .contact-info ul {
    margin: -20px 0;
  }

  .contact-wrap .contact-info ul li {
    padding: 20px 0;
  }

  .mission-wrap .mission-box .icon-box {
    top: -70px;
    max-width: 140px;
    margin-bottom: -70px;
  }

  .mission-wrap .mission-box {
    margin-top: 70px;
  }

  .product .product-sidebar {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #DFDFDF;
  }

  .product .product-content {
    width: 100%;
  }

  .product .product-content .list ul li {
    width: 33.333%;
  }
}

@media(max-width:680px) {
  footer .menu-row .footer-menu {
    width: 100%;
  }

  .gallery>.item>ul>li:nth-child(1) {
    width: 40%;
  }

  .gallery>.item>ul>li:nth-child(2) {
    width: 60%;
  }

  .gallery>.item>ul>li:nth-child(3) {
    width: 50%;
  }

  .gallery>.item>ul>li:nth-child(4) {
    width: 50%;
  }

  .gallery>.item>ul>li .img-cover {
    padding-bottom: 200px;
  }

  .gallery>.item>ul>li>ul li .img-cover {
    padding-bottom: 100px;
  }

  .product .product-content .list ul li {
    width: 50%;
  }
}

@media(max-width:480px) {
  .product .product-content .list ul li {
    width: 100%;
  }
}

/*===== 767 =====*/