@charset "UTF-8";

:root {
  /* default */
  --white: #fff;
  --black: #000;

  /* new-var */
  --primary: #FFCC29;
  --secondary: #A40F79;
  --grey-100: #F9FAFB;
  --grey-200: #DFDFDF;
  --grey-800: #8E95A0;
  --grey-900: #1F252F;

  --font-primary: 'Inter', sans-serif;
  --font-secondary: 'Archivo', sans-serif;

  --h1: clamp(34px, 4.167vw, 100px);
  --h2: clamp(30px, 2.604vw, 50px);
  --h3: clamp(24px, 1.25vw, 28px);
  --h4: clamp(18px, 1.042vw, 22px);
  --h5: clamp(16px, 0.938vw, 20px);
  --h6: clamp(16px, 0.833vw, 18px);

  --title-lg: clamp(30px, 3.646vw, 70px);

  --base: clamp(16px, 1.354vw, 18px);
  --text-lg: clamp(18px, 1.51vw, 28px);
  --text-xs: 14px;

  --btn-text: clamp(16px, 1.354vw, 18px);

  --transition: all 0.3s ease-in-out;

  --brd-20: clamp(16px, 1.042vw, 20px);
  --brd-16: clamp(10px, 0.833vw, 16px);
  --brd-full: 999px;
}

/* CSS Document */

/*==============================================================
	Common Styles Initials
==============================================================*/

html {
  -webkit-text-size-adjust: none;
  /* Prevent font scaling in landscape */
  width: 100%;
  height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: inherit !important;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--font-primary);
  font-size: var(--base);
  line-height: 1.666;
  color: var(--grey-900);
  font-weight: 400;
  background: var(--base);
  width: 100%;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  scrollbar-color: var(--white) var(--black);
  scrollbar-width: thin;
}

body.pause {
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 7px;
}

::-webkit-scrollbar-track {
  background: var(--black);
}

::-webkit-scrollbar-thumb {
  background: var(--black);
}

::-webkit-scrollbar-thumb:window-inactive {
  background: var(--black);
}

a {
  outline: none;
  text-decoration: none;
  color: var(--black);
}

a:hover,
a:focus {
  outline: none;
  text-decoration: none;
}

.btn:focus {
  color: var(--black);
  box-shadow: none;
}

input,
textarea,
select {
  outline: none;
  resize: none;
}

a,
input,
button {
  outline: none !important;
}

button::-moz-focus-inner {
  border: 0;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  margin: 0;
  padding: 0;
  font-weight: 700;
  color: var(--grey-900);
  font-family: var(--font-secondary);
}

img {
  border: 0;
  vertical-align: top;
  max-width: 100%;
  height: auto;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

p {
  margin: 0 0 15px 0;
  padding: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

input[type="search"] {
  -webkit-appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.search-dropdown input {
  -webkit-appearance: textfield;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}


/*==============================================================
	Bootstrap Hack
==============================================================*/

.form-control::-webkit-input-placeholder {
  opacity: 1;
  color: #9EA4AE;
}

.form-control:-moz-placeholder {
  opacity: 1;
  color: #9EA4AE;
}

.form-control::-moz-placeholder {
  opacity: 1;
  color: #9EA4AE;
}

.form-control:-ms-input-placeholder {
  opacity: 1;
  color: #9EA4AE;
}

input::-webkit-input-placeholder {
  opacity: 1;
}

input:-moz-placeholder {
  opacity: 1;
}

input::-moz-placeholder {
  opacity: 1;
}

input:-ms-input-placeholder {
  opacity: 1;
}

.row {
  --bs-gutter-x: 32px;
  --bs-gutter-y: 0;
}

/*==============================================================
	Custom Style
==============================================================*/

.container {
  max-width: 1470px;
  width: 100%;
  padding: 0 16px;
}

.h1 {
  font-size: var(--h1);
  line-height: 1.24;
}

.h2 {
  font-size: var(--h2);
  line-height: 1;
}

.h3 {
  font-size: var(--h3);
  line-height: 1.3;
}

.h4 {
  font-size: var(--h4);
  line-height: 1;
}

.h5 {
  font-size: var(--h5);
  line-height: 1;
}

.h6 {
  font-size: var(--h6);
  line-height: 1;
}

.text-base {
  font-size: var(--base);
}

.text-lg {
  font-size: var(--text-lg);
  line-height: 1.357;
}

.text-xs {
  font-size: var(--text-xs);
  line-height: 2;
}

/* space */
.pt-240 {
  padding-top: clamp(55px, 12.5vw, 240px);
}

.pb-240 {
  padding-bottom: clamp(55px, 12.5vw, 240px);
}

.pt-200 {
  padding-top: clamp(50px, 10.417vw, 200px);
}

.pb-200 {
  padding-bottom: clamp(50px, 10.417vw, 200px);
}

.pt-180 {
  padding-top: clamp(45px, 9.375vw, 180px);
}

.pb-180 {
  padding-bottom: clamp(45px, 9.375vw, 180px);
}

.pt-170 {
  padding-top: clamp(45px, 8.854vw, 170px);
}

.pb-170 {
  padding-bottom: clamp(45px, 8.854vw, 170px);
}

.pt-148 {
  padding-top: clamp(35px, 7.708vw, 148px);
}

.pb-148 {
  padding-bottom: clamp(35px, 7.708vw, 148px);
}

.pt-140 {
  padding-top: clamp(35px, 7.292vw, 140px);
}

.pb-140 {
  padding-bottom: clamp(35px, 7.292vw, 140px);
}

.pt-130 {
  padding-top: clamp(30px, 6.771vw, 130px);
}

.pb-130 {
  padding-bottom: clamp(30px, 6.771vw, 130px);
}

.pt-120 {
  padding-top: clamp(30px, 6.25vw, 120px);
}

.pb-120 {
  padding-bottom: clamp(30px, 6.25vw, 120px);
}

.pt-115 {
  padding-top: clamp(30px, 5.208vw, 115px);
}

.pb-115 {
  padding-bottom: clamp(30px, 5.208vw, 115px);
}

.pt-100 {
  padding-top: clamp(30px, 5.99vw, 100px);
}

.pb-100 {
  padding-bottom: clamp(30px, 5.99vw, 100px);
}

.pt-90 {
  padding-top: clamp(30px, 4.688vw, 90px);
}

.pb-90 {
  padding-bottom: clamp(30px, 4.688vw, 90px);
}

.pt-80 {
  padding-top: clamp(30px, 4.167vw, 80px);
}

.pb-80 {
  padding-bottom: clamp(30px, 4.167vw, 80px);
}

.pt-70 {
  padding-top: clamp(30px, 4.688vw, 70px);
}

.pb-70 {
  padding-bottom: clamp(30px, 4.688vw, 70px);
}

.pt-60 {
  padding-top: clamp(30px, 3.125vw, 60px);
}

.pb-60 {
  padding-bottom: clamp(30px, 3.125vw, 60px);
}

.pt-54 {
  padding-top: clamp(25px, 2.708vw, 54px);
}

.pb-54 {
  padding-bottom: clamp(30px, 2.708vw, 54px);
}

.pt-45 {
  padding-top: clamp(25px, 2.708vw, 45px);
}

.pb-45 {
  padding-bottom: clamp(30px, 2.708vw, 45px);
}

.pt-30 {
  padding-top: clamp(20px, 1.563vw, 30px);
}

.pb-30 {
  padding-bottom: clamp(25px, 1.563vw, 30px);
}

.pb-0 {
  padding-bottom: 0;
}

.pt-0 {
  padding-top: 0;
}

.px-60 {
  padding-left: clamp(10px, 3.125vw, 60px);
  padding-right: clamp(10px, 3.125vw, 60px);
}

.row-gap-30 {
  row-gap: 30px;
}

.section:is(.line-top, .line-bottom) {
  position: relative;
}

.section:is(.line-top, .line-bottom)::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
  max-width: 1440px;
  margin: auto;
  opacity: 0.1;
}

.section.line-bottom::after {
  top: auto;
  bottom: 0;
}


/* space */

.title-wrap .sub-title {
  font-weight: 800;
  line-height: 1.08;
  color: var(--black);
  font-family: var(--font-secondary);
  opacity: 0.3;
  text-transform: uppercase;
  padding-bottom: clamp(15px, 1.563vw, 30px);
}

.title-wrap.title-white .h2,
.title-wrap.title-white .sub-text p,
.title-wrap.title-white .sub-title {
  color: var(--white);
  opacity: 1;
}

.title-wrap .sub-text {
  padding-top: clamp(25px, 2.396vw, 46px);
}

.img-cover {
  position: relative;
  padding-bottom: 100%;
}

.img-cover :is(img, video, iframe) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bullet ul li {
  padding-left: 25px;
  position: relative;
}

.bullet ul li:before {
  content: "";
  width: 6px;
  height: 6px;
  position: absolute;
  border-radius: 100%;
  left: 5px;
  top: 10px;
  background: var(--primary);
}

.bullet ol {
  counter-reset: item 0;
}

.bullet ol li {
  padding-left: 30px;
  position: relative;
  margin-bottom: 12px;
}

.bullet ol li:before {
  content: counters(item, ".") ". ";
  counter-increment: item 1;
  position: absolute;
  left: 0;
  top: 0px;
  display: block;
  color: var(--primary);
}

.bullet ol li ol {
  margin-top: 12px;
}

.bullet ol li ol li {
  padding-left: 0;
}

.bullet ol li ol li:before {
  position: relative;
  display: inline;
}

.bullet ol li ol ol {
  padding-left: 20px;
}

/*==============================================================
	Button Style
==============================================================*/
.btn {
  font-size: var(--btn-text);
  line-height: 1.111;
  font-weight: 600;
  color: var(--black);
  display: inline-block;
  background: var(--primary);
  border-radius: 8px;
  padding: 20px 30px;
  transition: var(--transition);
  box-shadow: none;
  outline: none;
  text-transform: capitalize;
  border: 1px solid transparent;
}

.btn.secondary,
.btn:is(:hover, :focus, :active) {
  color: var(--white);
  background: var(--secondary);
}

.btn.secondary:is(:hover, :focus, :active) {
  color: var(--black);
  background: var(--primary);
}

.btn-link {
  font-size: var(--base);
  font-weight: 700;
  text-decoration: underline;
  color: var(--secondary);
}

/*==============================================================
	Common Css 
==============================================================*/
.qoute-box {
  padding: 25px 25px 25px 10px;
  background: linear-gradient(90deg, #FFF0FB 0%, #FFFFFF 100%);
  border-left: 4px solid var(--secondary);
  margin-top: clamp(15px, 1.823vw, 35px);
}

.about-img {
  position: relative;
}

.about-img .icon-box {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  border-radius: var(--brd-full);
  background: var(--primary);
  width: clamp(100px, 7.292vw, 140px);
  height: clamp(100px, 7.292vw, 140px);
  display: grid;
  place-items: center;
}

.about-img .icon-box img {
  width: clamp(50px, 3.958vw, 76px);
  height: auto;
}

.sw-pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 4px;
}

.sw-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  border-radius: 10px;
  border: 1px solid var(--secondary);
  background: transparent;
  opacity: 1;
  margin: 0 !important;
}

.sw-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background: var(--secondary);
}

.sw-arrow {
  display: grid;
  place-items: center;
  width: 52px;
  height: 52px;
  border: 0;
  color: var(--white);
  background: var(--secondary);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto 0;
  z-index: 1;
  transition: var(--transition);
}

.sw-arrow:hover {
  background: var(--primary);
}

.sw-arrow.next {
  right: 3px;
  border-radius: 100px 0 0 100px;
}

.sw-arrow.right {
  left: 3px;
  border-radius: 0 100px 100px 0;
}

/*===== header =====*/
.header-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  transition: var(--transition);
  z-index: 999;
}

.header-wrap header {
  display: flex;
  color: var(--white);
  padding-right: clamp(30px, 3.125vw, 60px);
  /* align-items: center; */
  justify-content: space-between;
  border-bottom: 0.2px solid var(--white);
}

.header-wrap header .logo {
  background: var(--white);
  padding: 10px 52px;
  transition: var(--transition);
  display: inline-flex;
  align-items: center;
}

.header-wrap header .logo a {
  display: inline-flex;
}

.header-wrap header .logo a img {
  transition: var(--transition);
  max-width: 225px;
}

.header-wrap header .header-menu {
  padding-left: clamp(30px, 6.771vw, 130px);
}

.header-wrap header .menu ul li a {
  display: inline-flex;
  font-size: 18px;
  line-height: 1;
  font-weight: 500;
  color: currentColor;
}

.header-wrap header .menu>ul>li>a {
  padding: 45px 0;
  transition: var(--transition);
}

.header-wrap header .menu>ul>li:is(.current-menu-item, .current-menu-parent, :hover)> :is(a, .menu-arrow) {
  color: var(--secondary);
}

.header-wrap header .menu>ul>li {
  position: relative;
  display: inline-flex;
  align-items: center;
  column-gap: 5px;
}

.header-wrap header .menu>ul>li>.sub-menu li a {
  color: var(--grey-900);
  display: inline-flex;
  font-size: 16px;
}

.header-wrap header .menu>ul>li>.sub-menu li:is(.current-menu-item, .current-menu-parent, :hover) :is(a, .menu-arrow) {
  color: var(--secondary);
}

.header-wrap header .menu>ul>li>.sub-menu li+li {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header-wrap header .menu>ul>li .menu-arrow {
  width: 24px;
  height: 24px;
  display: grid;
  place-items: center;
  color: currentColor;
  transform: rotate(90deg);
}

.header-wrap header .menu>ul>li .menu-arrow svg {
  transition: var(--transition);
}

.menu-toggle button {
  background: transparent;
  border: 0;
}

.menu-toggle button {
  background: transparent;
  border: 0;
}

.header-wrap header .head-search {
  margin-left: auto;
  display: inline-flex;
  align-items: center;
}

.head-search {
  position: relative;
  z-index: 1;
}

.head-search button {
  background: transparent;
  border: 0;
  color: currentColor;
  cursor: pointer;
  width: 42px;
  height: 42px;
  display: grid;
  place-items: center;
}

.head-search .search {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  transition: var(--transition);
  opacity: 0;
  visibility: hidden;
}

.head-search.active .search {
  opacity: 1;
  visibility: visible;
}

.head-search .search .input-box {
  display: flex;
  align-items: center;
  border: 1px solid var(--grey-800);
  background: var(--white);
  padding: 4px;
  border-radius: 88px;
  overflow: hidden;
}

.head-search .search .input-box input[type="text"] {
  background: transparent;
  padding: 0 15px;
  border: 0;
}

.head-search .search .input-box button {
  width: 32px;
  height: 32px;
  color: var(--grey-900);
}

.header-wrap.sticky {
  background: var(--white);
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
}

.header-wrap.sticky header {
  color: var(--grey-900);
}

.header-wrap.sticky header .logo a img {
  max-width: 150px;
}

@media(min-width:1025px) {
  .menu-toggle button {
    display: none;
  }

  .header-wrap header .menu>ul {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    column-gap: clamp(20px, 2.083vw, 40px);
  }

  .header-wrap header .menu>ul>li>.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    min-width: 200px;
    padding: 10px 15px;
    background: var(--white);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.15);
    transition: var(--transition);
  }

  .header-wrap header .menu>ul>li:not(:hover)>.sub-menu {
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
  }

  .header-wrap header .menu>ul>li>.sub-menu li a {
    padding: 14px 0;
  }

  .header-wrap.sticky header .menu>ul>li>a {
    padding: 30px 0;
  }

  .mobile-overlay {
    display: none;
  }
}

@media(max-width:1400px) {
  .header-wrap header .header-menu {
    padding-left: 30px;
  }

  .header-wrap header .menu ul li a {
    font-size: 16px;
    padding: 45px 0;
  }

  .header-wrap header .logo {
    padding: 10px 30px;
  }

  .header-wrap header .logo a img {
    max-width: 180px;
  }
}

@media(max-width:1024px) {
  .header-wrap header {
    align-items: center;
    padding-right: 15px;
  }

  .header-wrap header .logo {
    padding: 15px;
  }

  .header-wrap header .logo a img {
    max-width: 150px;
  }

  .menu-toggle {
    display: inline-flex;
    align-items: center;
    padding-left: 15px;
  }

  .menu-toggle button {
    color: currentColor;
  }

  .header-wrap header .header-menu {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    min-height: 100vh;
    background: var(--white);
    width: 300px;
    padding: 45px 15px 25px;
    transition: var(--transition);
    z-index: 999;
  }

  .header-wrap header .header-menu:not(.active) {
    right: -320px;
  }

  .header-menu .menu-toggle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 11px 15px;
  }

  .header-menu .menu-toggle button {
    display: inline-flex;
    color: var(--grey-900);
  }

  .header-wrap header .menu>ul {
    display: flex;
    flex-direction: column;
  }

  .header-wrap header .menu>ul>li {
    flex-wrap: wrap;
  }

  .header-wrap header .menu>ul>li .sub-menu {
    display: none;
  }

  .header-wrap header .menu>ul>li .sub-menu li:first-child,
  .header-wrap header .menu>ul>li+li {
    border-top: 1px solid rgba(0, 0, 0, 0.1);
  }

  .header-wrap header .menu ul li a {
    padding: 15px 0;
    display: block;
    width: 100%;
    color: var(--grey-900);
  }

  .header-wrap header .menu>ul>li .menu-arrow {
    position: absolute;
    top: 0;
    right: 0;
    width: 46px;
    height: 46px;
    display: grid;
    place-items: center;
    color: var(--grey-900);
    cursor: pointer;
  }

  .header-wrap header .menu>ul>li .menu-arrow.active svg {
    transform: rotate(180deg);
  }

  .header-wrap header .menu>ul>li .sub-menu {
    width: 100%;
  }

  .header-wrap header .menu>ul>li .sub-menu li {
    padding: 0px 5px;
  }

  .header-wrap header .menu {
    height: 100%;
    overflow: auto;
  }

  .mobile-overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--black);
    opacity: 0.8;
    z-index: 999;
    transition: var(--transition);
  }

  .mobile-overlay:not(.active) {
    opacity: 0;
    visibility: hidden
  }
}

@media(max-width:767px) {
  .head-search {
    position: initial;
  }

  .head-search .search {
    top: 100%;
    left: 0;
    right: 0;
    bottom: initial;
    padding: 10px 15px;
    background: var(--white);
  }

  .head-search .search .input-box input[type="text"] {
    width: 100%;
  }
}

/*===== header =====*/

/*===== banner =====*/
.banner {
  position: relative;
}

.banner .banner-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-bottom: initial;
}

.banner .shape {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 1;
  opacity: 0.2;
  max-width: clamp(250px, 35.208vw, 676px);
}

.banner .banner-bg::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--black);
  opacity: 0.4;
}

.banner .container {
  position: relative;
  z-index: 1;
}

.banner .banner-title {
  color: var(--white);
}

.banner.hero-banner {
  display: flex;
  align-items: center;
  min-height: 100vh;
  padding: 150px 0;
}

.banner.hero-banner .banner-info {
  max-width: 1102px;
  margin: 0 auto;
  text-align: center;
}

.banner.hero-banner .banner-title {
  text-shadow: 0px 4px 18.8px rgb(0, 0, 0);
  padding-bottom: clamp(20px, 2.24vw, 43px);
}

.banner.hero-banner .banner-info .sub-text {
  max-width: 1003px;
  margin: 0 auto;
  padding-bottom: clamp(20px, 2.24vw, 43px);
}

.banner.hero-banner .banner-info p {
  color: var(--white);
}

.banner.inner-banner {
  padding: clamp(180px, 16.354vw, 314px) 0 clamp(40px, 2.917vw, 56px);
}

.banner.inner-banner .banner-bg::after {
  opacity: 0.6;
}

.banner.inner-banner .banner-title {
  font-size: var(--title-lg);
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -24px;
  padding-top: clamp(50px, 9.531vw, 183px);
}

.breadcrumb li {
  padding: 0 24px;
  position: relative;
  font-family: var(--font-secondary);
  font-size: clamp(18px, 1.146vw, 22px);
  font-weight: 800;
  line-height: 1.08;
  color: var(--white);
}

.breadcrumb li a {
  color: currentColor;
  transition: var(--transition);
}

.breadcrumb li a:hover {
  color: var(--primary)
}


.breadcrumb li:not(:last-child)::after {
  content: "";
  position: absolute;
  top: clamp(3px, 0.26vw, 5px);
  right: -7px;
  width: clamp(10px, 0.729vw, 14px);
  height: clamp(10px, 0.729vw, 14px);
  background: url("../images/icons/breadcrumb-icon.svg") no-repeat center / contain;
}

/*===== banner =====*/

/*===== about-wrap =====*/
.about-wrap {
  overflow: hidden;
}

.about-wrap .about-img {
  margin-right: -66px;
  margin-left: -54px;
}

.about-wrap .about-img .icon-box {
  right: 9%;
  bottom: 21%;
}

.about-wrap .content-box p:not(:last-of-type) {
  margin-bottom: clamp(25px, 2.708vw, 45px);
}

/*===== about-wrap =====*/
/*===== service-wrap =====*/

.service-box {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: clamp(20px, 2.083vw, 40px);
  border-radius: var(--brd-16);
  border: 1px solid var(--grey-200);
}

.service-box .service-icon {
  width: 66px;
  height: 66px;
  display: grid;
  place-items: center
}

.service-box .service-icon img {
  width: auto;
  height: auto;
}

.service-box h3 {
  padding: clamp(40px, 4.167vw, 80px) 0 20px;
}

.service-box p {
  color: var(--grey-900);
}

.service-box .btn-wrap {
  padding-top: 20px;
}

.service-wrap {
  padding: 0 clamp(10px, 3.125vw, 60px);
}

.service-wrap .inner {
  border-radius: 16px;
  background: var(--grey-100);
}

.service-wrap .title-btn-wrap {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  column-gap: 30px;
}

.service-wrap .service-list ul {
  margin: 0 -8px;
  row-gap: 16px;
}

.service-wrap .service-list ul li {
  padding: 0 8px;
}

.service-wrap .service-list ul li:nth-child(1) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F6FF 100%);
}

.service-wrap .service-list ul li:nth-child(2) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFFAF6 100%);
}

.service-wrap .service-list ul li:nth-child(3) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #F6FFFF 100%);
}

.service-wrap .service-list ul li:nth-child(4) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF6F6 100%);
}

.service-wrap .service-list ul li:nth-child(5) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #F8FFF6 100%);
}

.service-wrap .service-list ul li:nth-child(6) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #F6FEFF 100%);
}

.service-wrap .service-list ul li:nth-child(7) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF6FF 100%);
}

.service-wrap .service-list ul li:nth-child(8) .service-box {
  background: linear-gradient(180deg, #FFFFFF 0%, #FFF8F6 100%);
}

/*===== service-wrap =====*/

/*===== why-choose-wrap =====*/
.choose-box h3 {
  color: var(--secondary);
  padding-bottom: 20px;
}

.choose-box p {
  color: var(--grey-900);
}

.why-choose-wrap .title-wrap {
  padding-bottom: 15px;
}

.why-choose-wrap .choose-list {
  display: flex;
  flex-direction: column;
  row-gap: clamp(30px, 3.438vw, 66px);
}

.why-choose-wrap .img-box {
  margin: 0 -140px;
}

/*===== why-choose-wrap =====*/

/*===== our-facilities-wrap =====*/
.our-facilities-wrap {
  padding: 0 clamp(10px, 3.125vw, 60px);
}

.our-facilities-wrap .inner {
  border-radius: 16px;
  overflow: hidden;
  background: no-repeat center / cover;
}

.our-facilities-wrap .facilities {
  margin-left: auto;
  max-width: 41.722%;
  padding: clamp(30px, 5vw, 96px) clamp(20px, 6.302vw, 121px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.51) 0%, rgba(0, 0, 0, 0.51) 100%);
  backdrop-filter: blur(60.599998474121094px)
}

.facilities ul {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  padding-top: clamp(20px, 1.563vw, 30px);
}

.facilities ul li {
  color: var(--white);
  font-size: clamp(18px, 1.25vw, 24px);
  line-height: 1.087;
  padding-left: clamp(25px, 1.823vw, 35px);
  position: relative;
  background: url("../images/bullet-icon.svg") no-repeat left top 3px / clamp(16px, 1.146vw, 22px);
}

.facilities .btn-wrap {
  padding-top: clamp(25px, 2.396vw, 46px);
}

/*===== our-facilities-wrap =====*/

/*===== certifications =====*/
.certifications-wrap .title-wrap {
  max-width: 1125px;
  margin: 0 auto;
}

.certifications-wrap .slider-wrap .img-cover {
  padding-bottom: 101.185%;
}

.certifications-wrap .slider-wrap .img-cover img {
  object-fit: contain;
}

.certifications-wrap .slider-wrap .swiper-slide {
  position: relative;
}

.certifications-wrap .slider-wrap .swiper-slide::after {
  content: "";
  position: absolute;
  top: 0;
  right: -2px;
  bottom: 0;
  width: 1px;
  background: url("../images/line-shape.svg") no-repeat center;
}

.certifications-wrap .sw-pagination {
  padding-top: clamp(40px, 4.583vw, 8px);
}

/*===== certifications =====*/

/*===== home gallery =====*/
.home-gallery-wrap {
  position: relative;
}

.home-gallery-wrap::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: var(--black);
  max-width: 1440px;
  margin: auto;
  opacity: 0.1;
}


.home-gallery-wrap .title-wrap {
  max-width: 898px;
  margin: 0 auto;
}

.gallery-slider .swiper-slide .img-cover {
  padding-bottom: 110%;
}

/*===== home gallery =====*/

/*===== contact wrap =====*/
.contact-wrap {
  background: var(--white);
}

.contact-wrap .title-wrap {
  max-width: 1056px;
  margin: 0 auto;
}

.contact-wrap .custom-form {
  max-width: 600px;
}

.contact-wrap .custom-form .form-row {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contact-wrap .custom-form .input-box {
  display: flex;
  flex-direction: column;
  position: relative;
}

.contact-wrap .custom-form .input-box label {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--grey-800);
  position: absolute;
  top: 35px;
  left: 0;
  transition: var(--transition);
}

.contact-wrap .custom-form .input-box label.has-value {
  top: 0;
}

.contact-wrap .custom-form .input-box .form-control {
  background: transparent;
  border: 0;
  outline: none;
  height: 90px;
  border-radius: 0;
  box-sizing: none;
  border-bottom: 1px solid #3C4451;
  padding: 25px 0;
  color: var(--grey-900);
}

.contact-wrap .custom-form .input-box textarea.form-control {
  min-height: 153px;
}

.contact-wrap .custom-form .input-box .form-control:focus {
  outline: none;
  box-shadow: none;
}

.contact-wrap .custom-form .input-box.btn-wrap {
  align-items: flex-start;
}

.contact-wrap .contact-info {
  height: 100%;
  border-radius: 16px;
  padding: clamp(20px, 4.167vw, 80px);
  background: var(--grey-900);
}

.contact-wrap .contact-info ul {
  display: flex;
  flex-direction: column;
  margin: -55px 0;
}

.contact-wrap .contact-info ul li {
  padding: 55px 0;
  position: relative;
}

.contact-wrap .contact-info ul li:not(:last-child)::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 1px;
  background: url("../images/line.svg") no-repeat center;
}

.contact-wrap .contact-info ul li h3 {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--white);
  padding-bottom: clamp(15px, 1.042vw, 20px);
}

.contact-wrap .contact-info ul li p {
  font-family: var(--font-secondary);
  font-size: clamp(18px, 1.302vw, 25px);
  font-weight: 700;
  line-height: 1.2;
  color: var(--white);
}

.contact-wrap .contact-info ul li p a {
  color: currentColor;
  transition: var(--transition);
}

.contact-wrap .contact-info ul li p a:hover {
  color: var(--secondary);
}

.contact-wrap.dark {
  background: var(--grey-900);
}

.contact-wrap.dark .title-wrap :is(h2, .sub-text, .sub-title) {
  color: var(--white);
}

.contact-wrap.dark .custom-form .input-box .form-control {
  color: var(--white);
}

.contact-wrap.dark .contact-info {
  background: var(--white);
}

.contact-wrap.dark .contact-info ul li h3 {
  color: var(--secondary);
}

.contact-wrap.dark .contact-info ul li p {
  color: var(--black);
}

.map .img-cover {
  min-height: 220px;
  padding-bottom: 29.7962%;
}

/*===== contact wrap =====*/

/*===== footer wrap =====*/

.block.about .logo+.social {
  padding-top: clamp(30px, 3.333vw, 64px);
}

.block.about .social+.copy {
  padding-top: clamp(30px, 3.438vw, 66px);
}

.block.about .copy {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--black);
}

.block.about .social {
  display: flex;
  flex-wrap: wrap;
  column-gap: 20px;
}

.block.about .social li {
  display: inline-flex;
}

.block.about .social li a {
  width: 25px;
  height: 25px;
  display: inline-flex;
}

.block.about .logo a {
  display: inline-flex;
}

footer .menu-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
  max-width: 610px;
  margin-left: auto;
  row-gap: 30px;
}

footer .menu-row .footer-menu {
  width: 50%;
  padding: 0 15px;
}

footer .footer-menu ul {
  display: flex;
  flex-direction: column;
  row-gap: clamp(10px, 1.042vw, 20px);
}

footer .footer-menu ul li a {
  display: inline-flex;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.21;
  color: var(--black);
  transition: var(--transition);
}

footer .footer-menu ul li a:hover {
  color: var(--secondary);
}

.block.about .logo a img {
  max-width: clamp(150px, 18.438vw, 354px);
  transition: var(--transition);
}

.footer-wrap footer .footer-top {
  padding: clamp(40px, 4.583vw, 88px) 0 clamp(50px, 5.625vw, 108px);
}

.footer-wrap footer .footer-bottom {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  padding: clamp(25px, 2.292vw, 44px) 0 clamp(40px, 3.542vw, 68px);
}

.footer-wrap footer .disclaimer div {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.625;
  padding-bottom: 12px;
  color: var(--black);
}

.footer-wrap footer .disclaimer p {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.85;
  color: var(--black);
}

/*===== footer wrap =====*/

/*===== vision-wrap =====*/
.vision-wrap .inner {
  padding: clamp(250px, 20.833vw, 400px) clamp(10px, 4.167vw, 80px) 0;
  background: no-repeat center / cover;
}

.vision-wrap .inner .vision-box {
  max-width: 800px;
  padding: clamp(30px, 2.5vw, 48px) clamp(20px, 5vw, 96px) clamp(30px, 3.542vw, 68px);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.0594) 0%, rgba(0, 0, 0, 0.4536) 100%);
  backdrop-filter: blur(30.399999618530273px)
}

.vision-wrap .inner .vision-box h2 {
  color: var(--white);
  padding-bottom: 16px;
}

.vision-wrap .inner .vision-box p {
  color: var(--white);
}

/*===== vision-wrap =====*/

/*===== mission-wrap =====*/
.mission-wrap {
  padding: clamp(40px, 6.146vw, 118px) 0 0;
}

.mission-wrap .mission-box {
  text-align: center;
  max-width: 1048px;
  margin: 105px auto 0;
  background: var(--white);
  box-shadow: 0px 4px 222.3px 0px #0000001A;
  border-bottom: 3px solid var(--secondary);
  padding: 0 clamp(20px, 4.167vw, 80px) clamp(20px, 3.854vw, 74px);
}

.mission-wrap .mission-box :is(a, strong) {
  font-weight: 700;
  color: var(--secondary);
}

.mission-wrap .mission-box .icon-box {
  padding-bottom: clamp(15px, 1.771vw, 34px);
  margin-bottom: -110px;
  position: relative;
  top: -110px;
  margin: 0 auto;
}

.mission-wrap .mission-box h2 {
  padding-bottom: clamp(15px, 1.25vw, 24px);
}

/*===== mission-wrap =====*/

/*===== gallery =====*/
.gallery {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
  row-gap: 2px;
}

.gallery>.item {
  width: 100%;
  padding: 0 1px;
}

.gallery>.item>ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
  row-gap: 2px;
}

.gallery>.item>ul>li {
  padding: 0 1px;
}

.gallery>.item>ul>li ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -1px;
  row-gap: 2px;
}

.gallery>.item>ul>li ul li {
  width: 100%;
  padding: 0 1px;
}


.gallery>.item>ul>li .img-cover {
  padding-bottom: 700px;
}

.gallery>.item>ul>li>ul li .img-cover {
  padding-bottom: 350px;
}

.gallery>.item>ul>li:nth-child(1) {
  width: 22.455%;
}

.gallery>.item>ul>li:nth-child(2) {
  width: 32.794%;
}

.gallery>.item>ul>li:nth-child(3) {
  width: 22.455%;
}

.gallery>.item>ul>li:nth-child(4) {
  width: 22.29%;
}

/*===== gallery =====*/

/*===== product single =====*/
.product {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  border-radius: 16px;
  border: 1px solid #DFDFDF;
  background: linear-gradient(180deg, #FFFFFF 0%, #F9F6FF 100%);
}

.product .product-sidebar {
  width: 33.958%;
  border-right: 1px solid #DFDFDF;
}

.product .product-content {
  width: 66.042%;
}

.product .product-sidebar>ul {
  display: flex;
  flex-direction: column;
}

.product .product-sidebar>ul>li {
  position: relative;
}

.product .product-sidebar>ul>li+li {
  border-top: 1px solid #DFDFDF;
}

.product .product-sidebar>ul>li>a {
  position: relative;
  font-family: var(--font-secondary);
  font-size: clamp(20px, 1.771vw, 34px);
  font-weight: 500;
  line-height: 1.2353;
  display: block;
  padding: clamp(15px, 1.823vw, 35px) clamp(20px, 2.604vw, 50px);
  transition: var(--transition);
}

.product .product-sidebar>ul>li>a:is(:hover, .active) {
  color: var(--secondary);
}

.product .product-sidebar>ul>li>ul {
  padding: clamp(20px, 1.302vw, 10px) clamp(10px, 2.604vw, 50px);
}

.product .product-sidebar>ul>li>ul>li>a {
  display: inline-block;
  font-family: var(--font-secondary);
  font-size: clamp(16px, 1.146vw, 22px);
  font-weight: 500;
  line-height: 1;
  color: var(--grey-900);
  padding: clamp(10px, 0.99vw, 19px) 0;
  transition: var(--transition);
}

.product .product-sidebar>ul>li>ul>li>a:hover {
  color: var(--secondary);
}

.product .product-sidebar>ul>li>ul>li>a:is(.active) {
  font-weight: 700;
  color: var(--secondary);
}

.product .product-sidebar>ul>li>a::after,
.product .product-sidebar>ul>li>a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  transition: var(--transition);
}

.product .product-sidebar>ul>li>a::after {
  width: clamp(4px, 0.417vw, 8px);
  background: var(--secondary);
}

.product .product-sidebar>ul>li>a::before {
  width: 100%;
  background: linear-gradient(90deg, rgba(164, 15, 121, 0.18) 0%, rgba(164, 15, 121, 0) 100%);
}

.product .product-sidebar>ul>li>a:not(:hover, .active)::before,
.product .product-sidebar>ul>li>a:not(:hover, .active)::after {
  opacity: 0;
}

.product .product-content {
  padding: clamp(18px, 3.333vw, 64px) clamp(15px, 3.125vw, 60px);
}

.product .product-content .list ul {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -11px;
  row-gap: 18px;
}

.product .product-content .list ul li {
  width: 33.333%;
  padding: 0 11px;
}

.product .product-content .list ul li a {
  display: flex;
  align-items: center;
  font-family: var(--font-secondary);
  font-size: clamp(16px, 1.146vw, 22px);
  font-weight: 500;
  line-height: 1.08;
  color: var(--grey-900);
  background: var(--white);
  border: 1px solid var(--secondary);
  border-radius: 10px;
  width: 100%;
  padding: 10px clamp(10px, 2.083vw, 40px);
  min-height: clamp(80px, 6.354vw, 122px);
}

.product .product-content .content-head {
  padding-bottom: clamp(15px, 2.604vw, 50px);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.product .product-content .content-box {
  padding-top: clamp(15px, 2.604vw, 50px);
}

.product .product-content .content-head h3 {
  font-family: var(--font-secondary);
  font-size: clamp(20px, 1.771vw, 34px);
  font-weight: 700;
  line-height: 1.2;
  color: var(--grey-900);
  padding-bottom: 13px;
}

.product .product-content .content-head p {
  font-family: var(--font-secondary);
  font-size: clamp(16px, 1.146vw, 22px);
  font-weight: 500;
  line-height: 1.3;
  color: var(--grey-900);
}

.product .product-content .content-box h5 {
  font-family: var(--font-secondary);
  font-size: clamp(18px, 1.042vw, 20px);
  font-weight: 700;
  line-height: 1.3;
  color: var(--grey-900);
  padding: 18px 0 16px;
}

.product .product-content .content-box h5:first-of-type {
  padding-top: 0;
}

.product .product-content .content-box p {
  font-family: var(--font-secondary);
}

/*===== product single =====*/